/* 
 * Potimeline
 *
 * Version: 1.1
 *  Author: Sara Potyscki (ThePot)
 * Website: http://www.thepot.site/portfolio/potimeline
 * License: Released under the MIT license [http://www.thepot.site/portfolio/potimeline#license]
 *
 */

/*BAR*/
.potimeline-bar,
.potimeline-bar *{
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.potimeline-bar{
	position: relative;
	width: 100%;
	height: 40px;
	padding-left: 50%;
	background-color: #fafafa;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: ew-resize;
}
.potimeline-bar::after{
	position: relative;
	content: " ";
	display: block;
	top: auto;
	bottom: 7px;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(0,0,0,0.38);
	background: none;
	z-index: 10;
	will-change: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.potimeline-bar .potimeline-mover{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}
.potimeline-bar .potimeline-mover.noanimation{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
	 
.potimeline-bar ul{
	margin: 0px;
	padding: 0px;	
}
.potimeline-bar li{
	position: relative;
	display: inline-block;
	width: 120px;
	border-left: 1px solid #000;
	margin-top: 25px;
	height: 15px;
	left: -60px;
	cursor: pointer;
	
}
.potimeline-bar li:last-child{
	border-right: 1px solid #000;
}
.potimeline-bar li span{
	display: inline-block;
	width: 100%;
	position: relative;
   left: -50%;
	top: -20px;
	text-align: center;
	cursor: ew-resize;
}
.potimeline-bar li.selected{
}


/*PANEL*/
.potimeline-panel{
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
}

.potimeline-panel ul{
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.potimeline-panel li{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	height: 25%;
}
.potimeline-panel li img{
	height: 100%;
}

.potimeline-panel .potimeline-list li{
	opacity: 0;
}
.potimeline-panel .potimeline-list.potimeline-loaded li{
	opacity: 1;
	-webkit-transition: opacity .35s ease-in-out;
	-moz-transition: opacity .35s ease-in-out;
	-ms-transition: opacity .35s ease-in-out;
	-o-transition: opacity .35s ease-in-out;
	transition: opacity .35s ease-in-out;
}